:root {
  --first-color: #ecf0f1;
  --second-color: #2c3e50;
  --third-color: #e74c3c;
  --fourth-color: #3498db;
  --fith-color: #2980b9;
}

body {
  font-size: 16px;
  font-family: 'Roboto', 'sans-serif';
  background: var(--first-color);
}

/* first line header */
.main-header {
  white-space: nowrap;
  padding: 20px;
  box-shadow: 0px 5px 5px 0px var(--second-color);
}

.main-header__menu-items {
  display: flex;
  align-items: center;
}

.menu-items--text {
  color: var(--second-color);
}

.menu-items--location {
  font-weight: 500;
}
.main-header__menu-items span {
  margin: 0 10px 0 10px;
}

.main-header__menu-search {
  background: #fff;
  border-radius: 5px;
}

.main-header__menu-search input {
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  width: 300px;
  border: none;
  color: var(--second-color);
}
.main-header__menu-search input:focus {
  outline: none;
  border: 1px solid var(--third-color);
}

.fas.fa-search {
  margin-right: 15px;
  cursor: pointer;
}

.fa.fa-heart-o.fa-lg {
  margin: 0 10px 0 50px;
}

.main-header__cart-content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main-header__cart-data {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 5px;
}

.main-header__cart-data span {
  color: var(--second-color);
  font-weight: 500;
}

.fa.fa-angle-down {
  cursor: pointer;
}

.main-header__user-content {
  display: flex;
  align-items: center;
}

.user-content__name {
  color: var(--second-color);
  font-weight: 500;
}
/* end first line header */

/* Start second line header */
.main-header__menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav__links {
  display: flex;
  align-items: center;
}

.menu-nav--text {
  margin: 0 50px 0 10px;
  color: var(--second-color);
  font-weight: 500;
}

.menu-nav--text:hover {
  text-decoration: none;
  color: var(--third-color);
  cursor: pointer;
}

.menu-nav__items {
  margin-left: 50px;
}

.menu-nav__items a {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: var(--second-color);
  font-weight: 500;
}

.menu-nav__items a:hover {
  color: var(--third-color);
}

.menu-nav__promotions {
  background: var(--third-color);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 170px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.menu-nav__promotions:hover {
  width: 180px;
  transition: 0.5s ease-out;
}

.menu-nav__promotions a {
  color: #fff;
  font-weight: bold;
}

.menu-nav__promotions a:hover {
  text-decoration: none;
}
/* end second line header */

/*  End Header*/

/* section main banner */
.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 400px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background: url('../slices/banner_man.jpg') #fff no-repeat right / contain;
}

.main-banner h3 {
  color: var(--second-color);
}

.main-banner h2 {
  font-size: 42px;
}

.main-banner p {
  color: var(--second-color);
}

.main-banner a {
  background: var(--third-color);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  width: 170px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.main-banner a:hover {
  text-decoration: none;
}

/* End section main banner */

/* section promotion */
.promotion {
  margin-top: 30px;
}

.promotion > .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promotion__promotion-item {
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  margin: 0 5px 0 5px;
}

.promotion-item__description {
  display: flex;
  flex-direction: column;
}

.promotion-item__description span {
  margin: 10px 0 10px 0;
}

.promotion-item__description--discount {
  text-transform: uppercase;
  font-size: 22px;
  color: red;
}

.promotion-item__description--title {
  color: var(--second-color);
}
.promotion-item__description a {
  background: var(--third-color);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  width: 130px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.promotion-item__description a:hover {
  text-decoration: none;
}
/* end section promotion */

/* start section categories */
.categories {
  margin-top: 23%;
}
.categories > .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.categories__categories-item {
  display: flex;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  background: #fff;
  cursor: pointer;
}

.item-img-bg-1 {
  background: url('../slices/product_small.webp') #fff no-repeat bottom right;
}
.item-img-bg-2 {
  background: url('../slices/product_2_small.webp') #fff no-repeat bottom right;
}
.item-img-bg-3 {
  background: url('../slices/product_3_small.webp') #fff no-repeat bottom right;
}
.item-img-bg-4 {
  background: url('../slices/product_4_small.webp') #fff no-repeat bottom right;
}

.item__description--text {
  font-size: 14px;
  font-weight: 500;
}

.categories-item__description {
  display: flex;
  flex-direction: column;
}

.categories-item__description span {
  margin: 10px 0 10px 0;
}

.categories-item__img {
}

.categories-item__description a {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  white-space: nowrap;
  margin-top: 10px;
}
/* end section categories */

/* top products */
.top-products__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-products__title--arrowRight {
  background: #2f4858;
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin-left: 15px;
}

.top-products__products-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  border: 1px solid grey;
  padding: 10px;
}
.products-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-item__info--off {
  border: 1px solid red;
  color: white;
  background: red;
  border-radius: 10px;
  padding: 5px;
}

.products-item__info--new {
  border: 1px solid green;
  color: white;
  background: green;
  border-radius: 10px;
  padding: 5px;
}

.products-item__description {
  display: flex;
  flex-direction: column;
}

.products-item__description--off {
  text-decoration: line-through;
}

.products-item__amount {
  display: flex;
  justify-content: space-between;
}

.products-item__amount__value {
  display: flex;
  width: 100px;
}

.products-item__amount__value > span {
  text-align: center;
  width: 100%;
  border: 1px solid grey;
}
/* end top products */

/* start best offers */
.best-offers__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best-offers__title--arrowRight {
  background: #2f4858;
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin-left: 15px;
}
.best-offers__best-offers-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 200px;
  border: 1px solid grey;
  border-radius: 5px;
}

.best-offers-item__description {
  display: flex;
  flex-direction: column;
}

.best-offers-item__description span {
  margin: 10px 0 10px 0;
}

.best-offers__description a {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  white-space: nowrap;
  margin-top: 10px;
}
/* end best offers*/

/* start newslatter */
.newslatter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  height: 200px;
}

.newslatter__subscribe input {
  margin-right: 10px;
}
/* end newslatter */

/* start footer*/
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
}
/* end footer*/
