body {
  font-size: 16px;
  font-family: 'Helvetica', 'sans-serif';
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-items + span + span {
  white-space: nowrap;
}

.menu-items span {
  margin: 0 5px 0 5px;
}

.menu-items input {
  margin-left: 10px;
}

.cart-content {
  display: flex;
  align-items: center;
}

.cart-data {
  display: flex;
  flex-direction: column;
}

.user-content {
  display: flex;
  align-items: center;
}
