:root {
  --first-color: #ecf0f1;
  --second-color: #2c3e50;
  --third-color: #e74c3c;
  --fourth-color: #3498db;
  --fith-color: #2980b9;
}

body {
  font-size: 16px;
  font-family: 'Roboto', 'sans-serif';
  background: #fff;
}

/* first line header */
.header {
  white-space: nowrap;
  padding: 20px;
  box-shadow: 0px 5px 5px 0px var(--second-color);
}

.header-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-items span {
  margin: 0 10px 0 10px;
}

.header-search input {
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  width: 400px;
  border: none;
  color: var(--second-color);
  background: var(--first-color);
}

.header-search input:focus {
  outline: none;
  border: 1px solid var(--third-color);
}

.fas.fa-search {
  margin-right: 15px;
  cursor: pointer;
}

.cart-content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-data {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 5px;
}

.cart-data span {
  color: var(--second-color);
  font-weight: 500;
}

.fa.fa-angle-down {
  cursor: pointer;
  margin-right: 10px;
}
/* end first line header */

/* Start second line header */
.main-header__menu-nav {
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-text {
  margin: 0 50px 0 10px;
  color: var(--second-color);
  font-weight: 500;
}

.nav-text:hover {
  text-decoration: none;
  color: var(--third-color);
  cursor: pointer;
}

.nav-items {
  margin-left: 50px;
}

.nav-items a {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: var(--second-color);
  font-weight: 500;
}

.nav-items a:hover {
  color: var(--third-color);
}

/* end second line header */

/*  End Header*/

/* section main banner */
.carousel-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background-image: url('../slices/banner_outfit.jpg');
  height: 500px;
  background-size: 100% 500px;
}

.carousel-banner h3 {
  color: #fff;
}

.carousel-banner h2 {
  font-size: 42px;
  color: #fff;
}

.carousel-banner a {
  background: var(--third-color);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  width: 170px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.carousel-banner a:hover {
  text-decoration: none;
}

/* End section main banner */

/* section promotion */
.promotion {
  margin-top: 30px;
}

.promotion-wrapper {
  display: flex;
}
.promotion-content {
  display: flex;
  flex-direction: column;
}
.promotion-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.bg-calcados {
  background: #2c3e50;
}

.bg-roupas {
  background: #3498db;
}

.bg-acessorios {
  background: #ecf0f1;
}

.bg-outlet {
  background: #e74c3c;
}

/* end section promotion */

/* start products */
.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-arrowRight {
  background: var(--third-color);
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: var(--first-color);
  border-radius: 5px;
  padding: 10px;
}
.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-discount {
  border: 1px solid red;
  color: white;
  background: red;
  border-radius: 15px;
  font-weight: 500;
  padding: 5px;
}

.item-img {
  align-self: center;
}

.product-new {
  border: 1px solid green;
  color: white;
  background: green;
  border-radius: 15px;
  font-weight: 500;
  padding: 5px;
}

.item-description {
  display: flex;
  flex-direction: column;
}

.item-value {
  font-weight: 500;
  padding-bottom: 5px;
  margin-top: 5px;
}

.item-off {
  text-decoration: line-through;
  color: #cbcbcb;
}

.item-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-button a {
  background: var(--third-color);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  width: 130px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.item-button a:hover {
  text-decoration: none;
}

/* end products */

/* start newslatter */
.newslatter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2980b9;
  height: 200px;
  margin-top: 20px;
}

.newslatter span {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}

.newslatter-subscribe input {
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  width: 300px;
  border: none;
  color: var(--second-color);
  background: var(--first-color);
  margin-right: 10px;
}

.newslatter-subscribe {
  display: flex;
}

.newslatter-subscribe button {
  background: var(--third-color);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  border: none;
}
/* end newslatter */

/* start footer*/

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links h5 {
  font-size: 18px;
  font-weight: 500;
}

.footer-list li {
  list-style: none;
}
.footer-list li a {
  text-decoration: none;
  color: var(--second-color);
  font-size: 14px;
}

.footer-list li a:hover {
  color: var(--third-color);
}
.copyright {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #2980b9;
  padding: 0 10px 0 10px;
  color: #fff;
}

.copyright span {
  color: #fff;
}
/* end footer*/
